@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.fix::before,
.fix::after {
  content: "";
  clear: both;
  display: table;
}

.bg {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.75;
  z-index: -1;
}

.section-title {
  margin: 20px 0;
}
.section-title h2 {
  text-transform: capitalize;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 20px;
  position: rea;
  position: relative;
}
.section-title h2::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #ff7720;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-title p {
  max-width: 700px;
  margin: 0 auto;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.btn {
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  text-transform: capitalize;
}
.btn.btn-box {
  background-color: #ff7720;
  transition: 0.3s;
}
.btn:hover {
  background-color: #333;
}
.btn.btn-border {
  border: 1px solid #ff7720;
  transition: 0.3s;
}
.btn:hover {
  border-color: #fff;
  color: #fff;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

body {
  font-family: "Poppins", sans-serif;
}

.header-area .main .header {
  padding: 35px 0;
}
.header-area .main .header .logo {
  width: 300px;
  float: left;
  padding-right: 30px;
}
.header-area .main .header .logo h2 {
  text-transform: capitalize;
  font-size: 30px;
}
.header-area .main .header .menu {
  width: 870px;
  float: right;
  text-align: right;
}
.header-area .main .header .menu ul li {
  display: inline-block;
  padding: 0 20px;
}
.header-area .main .header .menu ul a {
  text-transform: capitalize;
  font-size: 18px;
}
.header-area .main .header .menu ul a:hover {
  color: #ff7720;
}

.banner-contant {
  text-align: center;
  color: #fff;
}
.banner-contant h2 {
  font-size: 38px;
  text-transform: capitalize;
  padding: 10px 0;
}
.banner-contant p {
  max-width: 600px;
  margin: 40px auto;
}
.banner-contant a {
  color: #fff;
  margin: 10px 10px;
  display: inline-block;
}

.about .single-about {
  float: left;
  width: 380px;
  margin-right: 30px;
  border: 2px solid #f2f2f2;
}
.about .single-about:last-child {
  margin-right: 0;
}
.about .single-about h2 {
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 25px;
  font-weight: 500;
}
.about .single-about p {
  margin: 30px 0;
}
.about .single-about a {
  display: inline-block;
  margin: 10px 0;
}

.services-area {
  background-color: #f2f2f2;
}

.services .single-services {
  width: 370px;
  float: left;
  text-align: center;
  border: 2px solid #ddd;
  margin-right: 30px;
  margin-bottom: 30px;
}
.services .single-services:hover {
  border-color: #ff7720;
}
.services .single-services:hover i {
  background-color: #ff7720;
  color: #fff;
  border-color: #ff7720;
}
.services .single-services:nth-child(3) {
  margin-right: 0;
}
.services .single-services i {
  font-size: 30px;
  padding: 10px;
  background: gray;
  border-radius: 50%;
  margin: 10px 0;
}
.services .single-services h2 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 25px;
}
.services .single-services p {
  padding: 10px;
}

.portfolio .single-portfolio {
  height: 250px;
  float: left;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.portfolio .single-portfolio:hover {
  transform: scale(1.1);
}
.portfolio .single-portfolio:last-child {
  margin-right: 0;
}
.portfolio .single-portfolio h2 {
  position: absolute;
  background-color: #333;
  width: 100%;
  width: 100%;
  color: #fff;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 22px;
}

.cta {
  color: #fff;
}
.cta h2 {
  text-transform: uppercase;
  font-size: 40px;
}
.cta p {
  padding: 20px 0;
}
.cta a {
  display: inline-block;
}

.blog .single-blog {
  float: left;
  width: 380px;
  margin-right: 30px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #f2f2f2;
}
.blog .single-blog:hover .blog-img {
  transform: scale(1.1);
  cursor: pointer;
}
.blog .single-blog:last-child {
  margin-right: 0;
}
.blog .single-blog .blog-img {
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}
.blog .single-blog .blog-content {
  padding-left: 10px;
}
.blog .single-blog .blog-content h2 {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 22px;
  font-weight: 500;
}
.blog .single-blog .blog-content p {
  margin: 15px auto;
}
.blog .single-blog .blog-content a {
  display: inline-block;
  margin-bottom: 10px;
}

.contact .contact-info {
  margin: 20px 0;
}
.contact .contact-info .single-contact-info {
  float: left;
  width: 400px;
}
.contact .contact-info .single-contact-info i {
  font-size: 25px;
}
.contact .contact-info .single-contact-info h2 {
  font-size: 26px;
  text-transform: capitalize;
}
.contact .contact-info .single-contact-info h2 span {
  display: block;
  font-size: 14px;
}
.contact .contact-submit {
  margin-top: 40px;
}
.contact .contact-submit .contact-submit-form {
  width: 700px;
  float: left;
  margin-right: 30px;
}
.contact .contact-submit .contact-submit-form input,
.contact .contact-submit .contact-submit-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding-left: 5px;
  font-size: 15px;
}
.contact .contact-submit .contact-submit-form input[type=submit] {
  display: inline-block;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #ff7720;
  color: #fff;
  transition: 0.3s;
}
.contact .contact-submit .contact-submit-form input[type=submit]:hover {
  cursor: pointer;
  background-color: #333;
}
.contact .contact-submit .contact-submit-map {
  width: 470px;
  float: right;
}
.contact .contact-submit .contact-submit-map iframe {
  width: 100%;
  height: 250px;
  background-position: center;
  border: 1px solid #ddd;
}

.footer-area {
  background-color: #333;
}
.footer-area p {
  color: #fff;
  padding: 10px 0;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */