.about {
  .single-about {
    float: left;
    width: 380px;
    margin-right: 30px;
    border: 2px solid $bg_gray;
    &:last-child {
      margin-right: 0;
    }
    h2 {
      text-transform: capitalize;
      margin: 10px 0;
      font-size: 25px;
      font-weight: 500;
    }
    p {
      margin: 30px 0;
    }
    a {
      display: inline-block;
      margin: 10px 0;
    }
  }
}
